# Файл my_server.service
[Unit]
Description=Gunicorn instance
After=network.target

[Service]
User=
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/abbazov/ugu_deployment
Environment="PATH=/home/abbazov/ugu_deployment/venv/bin"
ExecStart=/home/abbazov/ugu_deployment/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker -b 0.0.0.0:80 src.main:app

[Install]
WantedBy=multi-user.target